##Directories
/lib
/dist
/bin
SimpleAutomaticBuildProject/target
SimpleAutomaticBuildProject/test

.build.properties
*.class
*.classpath
*.project
*.com
*.exe
mainfest.txt

*.iso
*.jar
*.zip
*.tar
*.iso

._*
.Spotlight-V100
.Trashes
/.idea
*.iml
